<ion-header>
  <ion-toolbar >
    <ion-button slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-button>
  <ion-title>Student Name</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
<div id="map" style="height:100px">

</div>

<div>
  <ion-button (click)="CaptureAudio()" size="small">Audio</ion-button>
  <ion-button (click)="CaptureImage()" size="small" color="secondary">Video</ion-button>
  <ion-button (click)="CaptureVideo()" size="small" color="tertiary">Image</ion-button>
</div>