<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <div *ngIf="!showAlertTypes">
      <label>Student Number</label>
      <label>Name</label>
      <label>Surname</label>
    <button (click)="alert()">Alert for Me</button>
    </div>
     // AIzaSyCVud3OE_3QTMPD1V9d-3K1SdkRJ_aDG2A
    <div *ngIf="showAlertTypes">
      <button (click)="getEmergencyServices()">Security Officer</button>
      <button (click)="getEmergencyServices()">Ambulance</button>
    </div>
  </div>
</ion-content>
