<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <div *ngIf="!showAlertTypes" class="flex fx-col">
      <label>Student Number</label>
      <label>Name</label>
      <label>Surname</label>
    <ion-button (click)="alert()">Alert for Me</ion-button>
    </div>

    <div *ngIf="showAlertTypes">
      <ion-button (click)="getEmergencyServices()">Security Officer</ion-button>
      <ion-button (click)="getEmergencyServices()">Ambulance</ion-button>
    </div>
  </div>
</ion-content>
