<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SMU  App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <div *ngIf="!showAlertTypes" class="flex fx-col">
      <label>Student Number</label>
      <label>Name</label>
      <label>Surname</label>
    <ion-button expand="block" (click)="alert()">Alert for Me</ion-button>
    </div>

    <div *ngIf="showAlertTypes">
      <ion-button color="danger" (click)="getEmergencyServices()">Security </ion-button>
      <ion-button color="warning" (click)="getAmbulance()">Ambulance</ion-button>
    </div>
  </div>
</ion-content>

<!-- 
<ion-button color="success">Success</ion-button>
<ion-button color="warning">Warning</ion-button>
<ion-button color="danger">Danger</ion-button> -->